html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.button {
  cursor: pointer;
  border: none;
}

.filter__button {
  padding: 4px 12px;
  display: block;
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.filter__button:hover {
  background-color: #c7c7c7;
}

.store {
  display: flex;
  justify-content: start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 30px;
}

.filter {
  min-width: 240px;
  min-height: 980px;
  background-color: rgb(12 107 105 / 10%);
}

.filter__container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
}

#search {
  min-width: 208px;
  min-height: 28px;
  font-size: 20px;
  font-weight: 500;
  outline: none;
}

#search::-webkit-search-cancel-button{
  display: none;
}

.filter__category_tittle {
  margin: 0;
  margin-bottom: 8px;
}

.filter__category {
  display: flex;
  justify-content: start;
  gap: 12px;
}

.filter__category span {
  display: block;
  font-size: 22px;
  font-weight: 500;
}

.filter__category input {
  cursor: pointer;
}

.filter__category-container {
  margin-top: 20px;
}

.filter__price-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 4px 16px;
}

.filter__price_tittle {
  margin: 0;
}

.filter__select-price,
.filter__select-property {
  min-width: 208px;
  min-height: 28px;
  margin-top: 12px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
}

.filter__select-price option {
  font-size: 20px;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 8px;
}

.market__card {
  position: relative;
  width: 286px;
  min-height: 480px;
  margin: 8px;
  text-align: left;
  color: #0F1111;
  cursor: pointer;
  border-radius: 8px;
  background-color: #fff;
}

.market__card::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 28px;
  top: 260px;
  right: 8px;
  background: url(../img/trolley-icon.png) no-repeat;
}

.market__card:hover {
  transform: scale(1.02);
  transition: transform .2s;
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card__container {
  padding: 0 44px 0 20px;
  margin-bottom: 8px;
}

.card__book-title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 8px;
}

.card__book-author {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bolder;
  color: #6e6e6e;
}

.book__grade_container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}

.star {
  width: 26px;
  height: 26px;
}

.card__book-grade {
  margin: 0;
  font-size: 24px;
  font-weight: bolder;
}

.card__book-price {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: bolder;
  color: #4e4e4e;
}

.card__book-balance {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
}

.market {
  width: 100%;
}
