html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

.store {
  display: flex;
  justify-content: start;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 30px;
}

.filter {
  min-width: 240px;
}

.filter__container {
  display: flex;
  flex-direction: column;
  padding: 8px 16px 0 16px;
  gap: 8px;
}

.filter__category {
  display: flex;
  justify-content: start;
  gap: 12px;
}

.filter__category span {
  display: block;
  font-size: 22px;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 8px
}

.market__card {
 width: 286px;
 min-height: 480px;
 text-align: left;
 color: #0F1111;
 cursor: pointer;
 display: none;
}

.show-card {
  display: block;
}

.card__image {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card__container {
  position: relative;
  padding: 0 44px 0 20px;
  margin-bottom: 8px;
}

.card__container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 28px;
  top: 12px;
  right: 12px;
  background: url(../img/trolley-icon.png) no-repeat;
}

.card__book-title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 8px;
}

.card__book-author {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bolder;
  color: #6e6e6e;
}

.card__book-grade {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  padding-left: 25px;
  font-size: 24px;
  font-weight: bolder;
}

.card__book-grade::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 2px;
  background: url(../img/star_icon.png) no-repeat;
}

.card__book-price {
  margin: 0;
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: bolder;
  color: #4e4e4e;
}

.card__book-balance {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
}